<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>272998493769-t41r1rg294t6ubrnnq713i2m4avb3070.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272998493769-t41r1rg294t6ubrnnq713i2m4avb3070</string>
	<key>API_KEY</key>
	<string>AIzaSyBrT6q59W_odfpU_pVOphgS8W8LTvlcMX0</string>
	<key>GCM_SENDER_ID</key>
	<string>272998493769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.everis.ieeeTalk.demo.ayBet</string>
	<key>PROJECT_ID</key>
	<string>aybet-c496b</string>
	<key>STORAGE_BUCKET</key>
	<string>aybet-c496b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272998493769:ios:8c6c3519382ffe36</string>
	<key>DATABASE_URL</key>
	<string>https://aybet-c496b.firebaseio.com</string>
</dict>
</plist>